<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.angel.presto.mapper.DemoMapper">

    <select id="selectDemoList" resultType="com.alibaba.fastjson.JSONObject" statementType="STATEMENT">
        select b.basic_title,c.content from zw_base_policy.collection_base_policy b left join policy_test.collection_content_policy c on b.id=c.id limit 10
    </select>
    <select id="selectDemoListHete" resultType="com.alibaba.fastjson.JSONObject" statementType="STATEMENT">
        select b.title,c.additional_info from mysqlpolicy27.policy_test.test b inner join pg33.public.policy c on b.id=c.id limit 10
    </select>

</mapper>